
$orangColor:#f58853;
$orangColor:#fc6c09;

$yellowColor:#ffc107;
$yellowColor:#fc6c09;

$redColor:#dc3545;
$blueColor: #007bff;
$pColor:#6c757d;
$whiteColor:#fff;
$blackColor:#191a20;
$purple:#ff466f;

$float-Left:left;
$floatRight:right;

$textLeft:left;
$textRight:right;


$xminMobile: '(min-width:320px)';
$minMobile: '(min-width:576px)';
$maxMobile: '(max-width:767px)';
$maxSmall: '(max-width:991px)';
$minSmall: '(min-width:768px)';
$minMedium: '(min-width:992px)';
$minLarge: '(min-width:1200px)';